.button{ 
    float: center;
     width:150px;
    height: 30px;
     } 
     
h1{ 
     float: center;
     position: center;
  }
     
.nav{
    width: 150px;
	height: 150px;
	position: relative;
	float: left;
     }
